
</div>
</div>
<nav class="navbar fixed-bottom navbar-light bg-light">
        <a class="navbar-brand" href="#">Movie Search API</a>
        <a href="http://www.omdbapi.com">Api From OMDB</a>
      </nav>
<script src="/jQuery/jquery-3.4.1.slim.min.js" ></script>
<script src="/poper/popper.min.js" ></script>
<script src="/bsJs/bootstrap.min.js" ></script>
</body>
</html>