<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/bsCss/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
    <title>Movie Search API</title>
</head>
<body>
    <!-- Image and text -->
<nav class="navbar sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <img src="/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
      Movie Search API
    </a>
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="#">Sorce Code</a>
        </li>
      </ul>
  </nav>
 
        <div class="jumbotron jumbotron-fluid">
                <div class="container">