body{
    background-color: #e9ecef;
}

button.btn.btn-success.btn-lg{
    display: block;
    margin: 20px auto;
}

#searchlogo{
    height: 1rem;
    width: 1rem;
}

#mainSearchpageimage{
    display: block;
    width: 40vh;
    height: 40vh;
    margin: auto auto;
}

.display-4{
    display: block;
    margin: auto auto;
    text-align: center;
}
#brandimage{
    fill: white;
    height: 2rem;
    width: 3rem;
    margin-right: 20px;
}